.hero-unit {
  background-image: url('/img/header-bg.jpg');
  background-position: center center;
  background-color: black;
  color: white;
}

.jumbotron {
  text-align: center;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.img-preview {
	border: 1px solid #e3e3e3;
}

.project-container {
	border-top: 1px solid rgb(189, 189, 189);
}

.project-container::last {
	border-bottom: 1px solid rgb(189, 189, 189);
}