<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Eric Chen: {{ page.title }}</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="the homepage of Tom O'Donnell">
  <meta name="author" content="Tom O'Donnell">
  
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/main.css">
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body>
  <div class="nav">
    <div class="container">
        <ul class="pull-left">
          <li class="active"><a href="/">Eric Chen</a></li>
          <li><a href="https://about.me/ecmode">About.Me</a></li>
          <li><a href="https://www.dropbox.com/s/5myztz87mnkizid/Eric-Chen-Resume.pdf">Resume</a></li>
          <li><a href="/blog.html">Blog</a></li>
          <li><a href="/projects.html">Projects</a></li>
          <li><a href="http://github.com/ecMode">GitHub</a></li>
        </ul>
    </div>
  </div>
  
  <div class="container">
    {{ content }}
  </div>
  
</body>
</html>
